@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Hindi&display=swap');
img {
    width: 240px;
    box-sizing: border-box;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 10px 0 0 20px;
}
.img {
    position: relative;
}
.file {
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 18px;
    font-weight: normal;
    padding: 15px;
    max-width: 700px;
    height: 1380px;
    margin: auto;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}
.file #header {
    margin: auto;
    max-width: 350px;
    width:45%;
    text-align: center;
    color: rgb(255, 57, 146);
    position: absolute;
    top: 53px;
    left: 330px;
}
.file #footer {
    position: absolute;
    box-sizing: border-box;
    color: rgb(255, 57, 146);
    top: 352px;
    left: 367px;
}
#CV {
    border-top: 2px solid rgb(241, 154, 193);
    padding-top: 28px;
    color: #bbb;
}
.inf {
    position: relative;
    margin-top: 60px;
}
.file .info {
    padding: 25px;
    padding-left: 40px;
    padding-top: 55px;
    width: 45%;
  }
.file .aside {
    position: absolute;
    border-radius: 10px;
    background-color: #ddd;
    width: 33%;
    top: 0px;
    left: 388px;
    box-sizing: border-box; 
    box-shadow: 8px 8px 14px rgba(255, 0, 183, 0.35);
  }
.aside li {
    padding-bottom: 10px;
    list-style-position: outside;
    list-style-image: url('icons8-take-it-easy-50-4.png');
}
.section #work {
    text-align: center;
    padding-left: 46px;
    padding-top: 30px;
}
.file .section {
    text-align: center;
}
.file .table {
    text-align: center;
    margin: 10px 30px;
    padding: 0 0 10px 80px; 
}
.table th {
    padding-bottom: 10px;
}
.table td {
    padding-top: 10px;
} 
#h3 {
    text-align: center;
    color: rgb(255, 57, 146);
  }
a {
    color: rgb(255, 57, 146);
    text-decoration: none;
    cursor: pointer;
    display: inline;
}
a:visited {
    color: rgb(148, 148, 148);
} 
button {
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    background-color: #ddd;
    padding: 8px 14px;
    cursor: pointer;
    font-family: inherit;
    background: linear-gradient(rgb(255, 142, 193), rgb(252, 34, 190))rgb(252, 34, 190);
}
button:hover  {
    background: linear-gradient(rgb(252, 34, 190), rgb(255, 142, 193))rgb(255, 142, 193); 
    color: #fff;
}
form {
    color: rgb(255, 57, 146);
} 
#connect {
    text-align: center;
}
.row input, .row textarea {
    padding: 5px;
    font-family: inherit;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgba(255, 0, 183, 0.35);
    display: block;
    box-sizing: border-box;
    width: 100%;
}
.row label {
    padding: 8px;
    display: block;
}
.onerow {
    margin-bottom: 10px;
    display: flex;
}
.onerow .row{
    width: 50%;
    margin-right: 20px;
    box-sizing: border-box;
}
.onerow .row:last-child{
    margin-right: 0px;
}
@media (max-width: 700px) {
    .file {
        box-shadow: 4px 4px 14px rgba(0, 0, 0, 0);
    }
    .img {
        width: auto;
        text-align: center;
    }
    .file #header {
        position: static;
        text-align: center;
        margin: auto;
        padding-top: 20px;
        width: 80%;
    }
    .file #footer {
        position: absolute;
        writing-mode: vertical-rl;
        left: 20px;
        top: 80px;
    }
    .file .info {
        text-align: center;
        padding: 20px;
        padding-top: 0px;
        width: 93%;
      }
    .file .aside {
        width: auto;
        position: static;
        height: 295px;
        border-radius: 10px;
        background-color: #ddd;
        width: 40%;
        margin: auto;
        padding-top: 1px;
        padding-right: 0px;
        padding-left: 0px;
        box-shadow: 8px 8px 14px rgba(255, 0, 183, 0.35);
    }
    .file .table {
        display: inline-block;
        margin: auto;
        padding: 10px 10px 0 0; 
    }
    .file .section {
        text-align: center;
    }
    .section #work {
        text-align: center;
        padding: 0;
    }
}
